.sidebar {
    min-width: 296px;
    min-height: 100vh; 
    padding-left: 2rem;
    padding-top: 40px;
}

.logo {
    margin-bottom: 42px;
}

.mug-shot {
    width: 40px;
    height: 40px;
    object-fit: cover;
}

