<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    <%- title %>
  </title>
  <link
    href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
    rel="stylesheet">
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>
  <div class="d-flex">
    <nav class="sidebar nav flex-column align-items-start justify-content-between bg-light">
      <div class="d-flex flex-column gap-4">
        <h1 class="logo"><a href="#"><img src="./assets/images/logo-ANSWER.svg" alt="logo"></a></h1>
        <a class="nav-link p-0 active d-flex align-items-center text-dark fw-bold" aria-current="page" href="#">
          <span class="material-icons me-3">assessment</span>
          Dashboard
        </a>
        <a class="nav-link p-0 active d-flex align-items-center text-dark fw-bold" aria-current="page" href="#">
          <span class="material-icons me-3">question_answer</span>
          Question
        </a>
        <a class="nav-link p-0 active d-flex align-items-center text-dark fw-bold" aria-current="page" href="#">
          <span class="material-icons me-3">assignment</span>
          Assignment
        </a>
        <a class="nav-link p-0 active d-flex align-items-center text-dark fw-bold" aria-current="page" href="#">
          <span class="material-icons me-3">video_library</span>
          Course
        </a>
        <a class="nav-link p-0 active d-flex align-items-center text-dark fw-bold" aria-current="page" href="#">
          <span class="material-icons me-3">supervisor_account</span>
          Admin
        </a>
        <a class="nav-link p-0 active d-flex align-items-center text-dark fw-bold" aria-current="page" href="#">
          <span class="material-icons me-3">settings</span>
          Settings
        </a>
      </div>
      <div class="d-flex align-items-center mb-5">
        <img class="mug-shot rounded-circle me-3"
          src="https://images.unsplash.com/photo-1514794749374-fb67509dbb7f?ixlib=rb-1.2.1&ixid=eyjhchbfawqiojeymdd9&auto=format&fit=crop&w=2000&q=80"
          alt="pic">
        <div>
          <h3 class="fs-6 fw-bold">Andy Chen</h3>
          <a href="#" class="fw-normal text-gray text-decoration-none">andy0401@mail.com</a>
        </div>
      </div>
    </nav>
    <%- contents %>
  </div>
  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
</body>

</html>